{% extends 'includes/base.html'%}
{% load static %}
{% include 'includes/header.html' %}
{% block content %}
    <title>Workboard - Task List</title>

    <h1>Workboard - Task List</h1>
    <ul>
        {% for workboard_item in workboard_data %}
            <li><a href="{% url 'workboard_detail' slug=task.slug %}">{{ workboard.title }}</a></li>

            {% empty %}
            <h3 class="text-center"><strong> No items in the list </strong></h3>

        {% endfor %}
    </ul>

{% endblock %}

{% include 'footer.html' %}
