{% extends 'includes/base.html'%}
{% load static %}
{% include 'includes/header.html' %}
{% block content %}
<div class="container mt-5 mb-10">
    <div class="card mx-auto" style="max-width: 400px; background-color: white; padding: 20px;">
        <h1 class="text-center">{{ workboard.title }}</h1>
        <br>
        <p class="text-center">{{ workboard.note }}</p>
        <p class="text-center">Due Date: {{ workboard.due_date }}</p>
        <p class="text-center">Special Requirements:{{ workboard.special_requests }}</p>

        <a href="{% url 'workboard' %}" class="btn btn-secondary btn-block mt-3">Back to Workboard</a>
    </div>
</div>
   
{% endblock %}

