/* Styling the home page */ 

    body, html {
        height: 100%;
        background-color:gainsboro; 
    }
    
    /* The hero image */
    .container {
      position: relative;
  }
  
  .hero {
      position: relative;
      background-color: rgba(255, 165, 0, 0.5);
      overflow: hidden;
  }
  
  .hero img {
      width: 100%;
      height: auto;
      display: block;
  }
  
  .border {
      background-color: rgba(255, 165, 0, 0.5);
      color: white;
      padding: 20px;
      border-radius: 10px;
      position: absolute;
      bottom: 0; 
      width: 98.2%; 
      box-sizing: border-box; 
      z-index: 1;
  }

    .border-freelancer {
      background-color: #003b36;
      color: white;
      padding: 20px;
      position: left;

    }

      .profile {
        width: 110%;
        max-width: 650px;
        border-radius: 10%;
        float: left;
        margin-right: 10px;
        height: 35vh;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .our-projects {
      text-align: center;
      text-decoration: underline;
      margin-top: 10px;

    }



    /* Carousel styling */ 

    .testimonial-carousel {
      width: 80%;
      margin: 50px auto;
  }
    
  .testimonial {
    text-align: center;
    padding: 20px;
    border: 2px solid  #59114d; 
    border-radius: 15px;
    box-shadow: 0 0 10px #59114d; 
    background-color: #fff; 
}
    
.comment {
  font-style: italic;
  color: #555;
}
    
    .user {
      font-weight: bold;
      margin-top: 10px;
    }
    .testimonial-img {
      max-width: 50%;
      margin-bottom: 10px;
    }

/* navigation bar */ 

#Navigation-bar {
  background-color: #003b36;
}

/* footer */ 

footer {
  color:white; 
  background-color: #59114d;
  width:100%; 
}

.footer_description {
  text-align:center; 
  margin-top: 10px;
  padding:5px; 
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
  }

  .hero {
    width: 100%;
      max-width: none;
      margin-left: 0;
  }
  .profile {
    width: 100%;
    max-width: 400px;
    border-radius: 10%;
    float: left;
    margin-right: 10px;
    height: 70vh;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .testimonial-carousel {
      width: 100%;
      margin: 20px auto;
  }
}


/* Styling Workboard */ 

.form-container {
  background-color: #003B36;
  color: #FFFFFF; 
  padding: 20px;
  border-radius: 8px;
}